$white: #fff;
$parchment: #f2e8cf;
$hunterGreen: #386641;
$asparagus: #6a994e;
$yellowGreen: #a7c957;
$black: #000;
$blue: #00c;
$bittersweetShimmer: #bc4749;
$gray: #ccc;
$grayLight: #eee;

$defaultFontFamily: "Halvetica", "Arial", sans-serif;
$defaultFontSize: 14px;
$defaultBackgroundColor: $white;
$defaultTextColor: $black;
$defaultLineHeight: 1.2;

$borderRadiusSmall: 3px;
$borderRadiusMedium: 5px;
