@import "../../styles/vars";
@import "../../styles/mixins";

$breakpoint: "<=900px";

.layout {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  @include media($breakpoint) {
    flex-flow: column nowrap;
  }

  .navigation {
    height: 100%;
    overflow: auto;
    flex: 0 0 220px;
    border-right: 3px solid $hunterGreen;
    background-color: $asparagus;
    @include media($breakpoint) {
      overflow: visible;
      flex: 0 0 auto;
      height: auto;
      border-right: none;
      border-bottom: 1px solid $black;
    }

    .logo {
      margin-left: 8px;
      padding: 10px;
    }

    .title {
      color: $white;
      font-weight: bold;
      font-size: 30px;
    }

    .menu {
      height: 100%;
      display: flex;
      flex-direction: column;

      .item {
        margin: 0 8px;

        .link {
          font-size: 18px;
          padding: 12px;
          display: flex;
          color: $white;
          border-radius: $borderRadiusMedium;
          @include link;

          &:hover {
            background-color: $hunterGreen;
          }
        }
      }
    }
  }

  .content {
    height: 100%;
    overflow: auto;
    flex: 1 1 100%;
    padding: 20px 30px;
    @include media($breakpoint) {
      overflow: visible;
      height: auto;
    }
  }
}
