@import '../../styles/vars';
@import '../../styles/mixins';

.filter {
  margin-bottom: 20px;
}

.tasks {
  .task {
    padding: 20px;
    border: 1px solid $black;
    border-radius: 10px;

    & + .task {
      margin-top: 20px;
    }

    .taskLink {
      @include link;
      color: $blue;

      &:hover {
        color: $bittersweetShimmer;
      }
    }
  }

  .more {
    margin-top: 15px;
  }
}
